html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #f8f8fa;
}

.bg-primary-color {
    background-color: #efb697;
    transition: all 0.2s ease-in-out;
}

.bg-primary-color:hover {
    transition: all 0.2s ease-in-out;
    background-color: #f0a882;
}

.border-primary-color {
    border: 2px #efb697 solid;
    transition: all 0.2s ease-in-out;
}

.border-primary-color:hover {
    transition: all 0.2s ease-in-out;
    color: #ffffff;
    background-color: #f0a882;
}

.Badge-primary-color {
    background-color: #efb6971f;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.bg-button1 {
    background-color: #3f3d56;
    font-size: 18px;
    color: white;
}

.bg-button1:hover,
.bg-button1:active {
    background-color: #262546;
}
.bg-button2{
    background: white;
    font-size: 18px;
    color: black;
}
.bg-button2:hover{
    background-color: rgb(233, 224, 224);
}
.slick-prev:before, .slick-next:before{
    color: #3f3d56 !important;
}
