.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
.opacity-95 {opacity: .95;}

.zxczxc::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
